:root{
    --backgroud: rgb(32, 33, 36);
}
*{
    padding: 0px;
    margin: 0px;
    background-color: var(--backgroud);
}
#logo-cab{
    display: flex;
    justify-content: center;
}
#logo-nav{
    display: flex;
    justify-content: space-around;
    width: 60vw;
    font-size: 30px;
    margin: 5px;
}